<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">

	<!-- ================== USER MODULE ================== -->
	<bean id="springUserAction" class="framgiavn.project01.web.action.UserAction"
		scope="prototype">
		<property name="userBusiness" ref="UserBusiness" />
		<property name="courseBusiness" ref="CourseBusiness" />
	</bean>
	
	<!-- ================== COURSE MODULE ================== -->
	<bean id="springCourseAction" class="framgiavn.project01.web.action.CourseAction"
		scope="prototype">
		<property name="courseBusiness" ref="CourseBusiness" />
		<property name="subjectBusiness" ref="SubjectBusiness" />
	</bean>
	
	<!-- ================== SUBJECT MODULE ================== -->
	<bean id="springSubjectAction" class="framgiavn.project01.web.action.SubjectAction"
		scope="prototype">
		<property name="subjectBusiness" ref="SubjectBusiness" />
		<property name="taskBusiness" ref="TaskBusiness" />		
	</bean>
		
	<!-- ================== TASK MODULE ================== -->
	<bean id="springTaskAction" class="framgiavn.project01.web.action.TaskAction"
		scope="prototype">
		<property name="taskBusiness" ref="TaskBusiness" />
	</bean>
</beans>