* {
	margin: 0;
	padding: 0;
}

body {
	background: #fff;
	position: relative;
	font: 13px Arial, Helvetica, sans-serif;
}

a {
	text-decoration: none;
	color: #00c6ff;
}

.content {
	width: 960px;
	margin: 0 auto;
	overflow: hidden;
}

#top-stuff {
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 12;
}

#top-bar-out {
	display: block;
	position: relative;
	width: 100%;
	height: 40px;
	background: -moz-linear-gradient(center top, #333333, #111111);
	background: -webkit-gradient(linear, left top, left bottom, from(#333333),
		to(#111111));
	background: -o-linear-gradient(top, #333333, #111111);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#333333',
		EndColorStr='#111111');
	box-shadow: 0 1px 2px #666666;
	-webkit-box-shadow: 0 1px 2px #666666;
}

.active-links {
	position: absolute;
	right: 8px;
	top: 0;
}

#container {
	width: 780px;
	margin: 0 auto;
	position: relative;
}

#topnav {
	text-align: right;
}

#session {
	cursor: pointer;
	display: inline-block;
	height: 20px;
	padding: 10px 12px;
	vertical-align: top;
	white-space: nowrap;
}

#session.active, #session:hover {
	background: rgba(255, 255, 255, 0.1);
	color: fff;
}

a#signin-link {
	color: #bababa;
	position: absolute;
	right: 10px;
	top: 20px;
}

a#signin-link em {
	font-size: 10px;
	font-style: normal;
	margin-right: 4px;
}

a#signin-link strong {
	color: #686161;
}

#signin-dropdown {
	background-color: #EDEDED;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	box-shadow: 0px 1px 2px #666;
	min-height: 80px;
	min-width: 130px;
	position: absolute;
	right: 0px;
	display: none;
	margin: 20px 10px 0px 0px;
	font-size: 13px;
	padding: 10px;
}

#signin-dropdown form {
	cursor: pointer;
	padding: 10px;
	text-align: left;
}

#signin-dropdown .textbox span {
	color: #BABABA;
}

#signin-dropdown .textbox input {
	width: 200px;
}

fieldset {
	border: none;
}

form.signin .textbox label {
	display: block;
	padding-bottom: 7px;
}

form.signin .textbox span {
	display: block;
}

form.signin p, form.signin span {
	color: #999;
	font-size: 11px;
	line-height: 18px;
}

form.signin .textbox input {
	background: #666666;
	border-bottom: 1px solid #333;
	border-left: 1px solid #000;
	border-right: 1px solid #333;
	border-top: 1px solid #000;
	color: #fff;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	font: 13px Arial, Helvetica, sans-serif;
	padding: 6px 6px 4px;
}

form.signin .remb {
	padding: 9px 0;
	position: relative;
	text-align: right;
}

form.signin .remb .remember {
	text-align: left;
	position: absolute;
	left: 0;
}

.button {
	background: -moz-linear-gradient(center top, #f3f3f3, #dddddd);
	background: -webkit-gradient(linear, left top, left bottom, from(#f3f3f3),
		to(#dddddd));
	background: -o-linear-gradient(top, #f3f3f3, #dddddd);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#f3f3f3',
		EndColorStr='#dddddd');
	border-color: #000;
	border-width: 1px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	color: #333;
	cursor: pointer;
	display: inline-block;
	padding: 4px 7px;
	margin: 0;
	font: 12px;
}

.button:hover {
	background: #ddd;
}

.navbar-right{
	margin-right: 100px !important;
	margin-top: -3px !important;
}